*{
    margin: 0px;
    padding: 0px;
}
/* ---------------------------- Pantalla login ordenador ---------------------------- */
.loginDiv{
    background: linear-gradient(270.22deg, #fcafff 4.39%, #ffffff 90.98%);
    background-repeat: none;
    height: 700px;
}
.logoUnidasHome{
    position: relative;
    left: 300px;
    top: 20px;
}
.cuadroBlanco { 
    width: 320px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    z-index: 10;
    float:right;
    flex-direction: column;
    display:flex;
    align-items: center;
    position:relative;
    right: 400px;
    top: 180px;
    box-shadow: 4px 0px 4px rgba(0, 0, 0.25, 0.25);

}
.unidasLetras{
    align-items: center;
    width: 50%;
    margin: 30px 0px;
}
.logoUnidas{
   height: 1px;
   visibility: hidden;
}

input{
    margin: 6px;
    padding: 2px;
    border-radius: 5px;
    width: 170px;
}
.buttonLogin{
    border: none;
    width: 170px;
    padding: 2px;
    border-radius: 5px;
    background-color: #F38BFE;
    margin-top: 20px;
}
.buttonLogin:hover{
    background-color: black;
    color: white;
    cursor:pointer;
}
.buttonGoogle{
    width: 170px;
    padding: 2px;
    border-radius: 5px;
    margin-top: 10px;
}
.buttonGoogle:hover{
    background-color: black;
    color: white;
}
.textRegister{
    margin-top: 40px;
    text-decoration: underline;
    font-weight: lighter;
}
.buttonRegister{
    border: 0px;
    background-color: #ffffff;
    text-decoration: underline;
}

/* ---------------------------- Pantalla register ordenador ---------------------------- */
.registerDiv{
    background: linear-gradient(270.22deg, #fcafff 4.39%, #ffffff 90.98%);
    background-repeat: none;
    height: 700px;
}
.unidasLetrasRegister{
    width: 30%;
    margin: 10px 15px;
}
.logoUnidas2{
    height: 1px;
    visibility: hidden;
 }
.cuadroBlancoRegister { 
    width: 320px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    z-index: 10; 
    float:right;
    display: block;
    align-items: center;
    position:relative;
    right: 400px;
    top: 180px;
    box-shadow: 4px 0px 4px rgba(0, 0, 0.25, 0.25);
}
.divSinLogo{
    float:right;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 11; 
}
.welcomeText{
    align-self: center;
    margin: 10px 10px;
    text-align: center;
    font-size: large;
}
.buttonRegister2{
    border: none;
    width: 170px;
    padding: 2px;
    border-radius: 5px;
    background-color: #F38BFE;
    margin-top: 20px;
}
.buttonRegister2:hover{
    background-color: black;
    color: white;
    cursor:pointer;
}
.buttonGoogle2{
    width: 170px;
    padding: 2px;
    border-radius: 5px;
    margin-top: 10px;
}
.buttonGoogle2:hover{
    background-color: black;
    color: white;
}
.alreadyMember{
    margin-top: 20px;
    
    font-weight: lighter;
}
.buttonBack{
    border: 0px;
    background-color: #ffffff;
    text-decoration: underline;
    color: #7704D0;
}
.inputFullname{
    background-color: #D9D9D9;
    border: 0;
    margin: 3px;
}
.inputEmail{
    background-color: #D9D9D9;  
    border: 0;
    margin: 3px;
}
.inputPassword{
    background-color: #D9D9D9;
    border: 0;
    margin: 3px;
}
label{
    color:rgba(0, 0, 0, 0.48);
    justify-content: left;
}
p{
    color: red;
    width: ;
}
@media (max-width: 500px){
/* -------------------------------- Login en Telefono -------------------------------- */
    .loginDiv, .registerDiv{
        background-image:url('./backgroundMobile.jpg');
        width: 500px;
        height: 980px;
    }
    .logoUnidasHome, .unidasLetras {
        height: 1px;
        visibility: hidden;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .logoUnidas {
        /* left: 110px;
        top: 193px;
        width: 180px; */
        height: 100px;
        visibility: visible;
    }
    
    .cuadroBlanco {
        width: 326px;
        height: 588px;
        background-color: white;
        padding: 15px;
        border-radius: 40px;
        float: right;
        /* flex-direction: column; */
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 70px;
        top: 100px;
        box-shadow: 4px 0px 4px rgba(0, 0, 0.25, 0.25);
     }
    input {
        margin: 6px;
        padding: 5px;
        width: 170px;
        background: #d9d9d9;
        border-radius: 5px;
        border: none;
    }
    .buttonLogin {
        border: #f38bfe solid 2px;
        width: 180px;
        height: 30px;
        padding: 2px;
        border-radius: 5px;
        background-color: #f38bfe;
        color: black;
        margin-top: 35px;
        display: block;
    }
    .buttonGoogle {
        width: 180px;
        padding: 2px;
        border-radius: 5px;
        display: block;
        margin-top: 20px;
        margin-bottom: 25px;
        background-color: #ffffff;
    }
    .buttonLogin:hover,
    .buttonGoogle:hover {
        background-color: #7704d0;
        color: white;
        cursor: pointer;
    }
    
    .textRegister {
        font-weight: lighter;
        margin: top 40px;
    }
    .buttonRegister {
        border: 0px;
        background-color: #ffffff;
        color: #7704d0;
        text-decoration: underline;
    }
/* -------------------------------- Register en Telefono -------------------------------- */
    .unidasLetrasRegister{
        height: 1px;
        visibility: hidden;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    
    }
    .logoUnidas2{
        width: 130px;
        height: 70px;
        margin-right: 50%;
        margin-top: 0px;
        visibility: visible;
    }
    .cuadroBlancoRegister{
        background-color: white;
        border-radius: 40px;
        width: 326px;
        height: 588px;
        top: 100px;
        right: 70px;
        padding: 0px 15px;
        float:right;
        display: block;
        align-items: center;
        position: relative;
        box-shadow: 4px 0px 4px rgba(0, 0, 0.25, 0.25);
    }
    .divSinLogo{
        /* z-index: 3; */
        float:right;
        flex-direction: column;
        display: flex;
        align-items: center;
        position: relative;
        /* border: solid red 2px; */
    }
    .welcomeText{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 30px;

        
    }
    .labelFullName, .labelEmail, .labelPassword{
        display: block;
    }
    .buttonRegister2{
        border:  #F38BFE solid 2px;
        width: 180px;
        height: 30px;
        padding: 2px;
        border-radius: 5px;
        background-color: #F38BFE;
        color: black;
        margin-top: 35px;
        display: block;
    }
    .buttonGoogle2{
        width: 180px;
        padding: 2px;
        border-radius: 5px;
        display: block;
        margin-top: 20px;
        margin-bottom: 25px;
        background-color: #ffffff;
    }
    .buttonRegister2:hover, .buttonGoogle2:hover{
        background-color: #7704D0;
        color: white;
        cursor: pointer;
    }
    .alreadyMember{
        margin-top: 30px;
        font-weight: lighter;
    }
    .buttonBack{
        border: 0px;
        background-color: #ffffff;
        color: #7704D0;
        font-size: 16px;
        text-decoration: underline;
    }
}