*{
background-image:url('./backgroundMobile.jpg');
}

.logo { 
position: absolute;
}

@media (max-width: 9800px){
    *{
    
    background: linear-gradient(270.22deg, #fcafff 4.39%, #ffffff 90.98%);
    background-repeat: none;
    }
}